<footer>
    <div class="row footer-row">
        <div class="col-4" >
            <p>@copyright, 2024</p>
        </div>
        <div class="col-4" >
            
        <img class="main-logo" src="images/main-logo.png">
        </div>
        <div class="col-4" style="display: flex; justify-content: center;">
            <p class="mx-3">Terms & conditions</p>
            <p>Privacy policy</p>

        </div>
    </div>
</footer>