<div style="text-align: center">
  <h1 style="font-family: DM Serif Text; color:  #2c6455; font-weight: 500; font-size: 55px;">Key Features</h1>

  <div class="outer-of-feature">
    <img class="leaf-img" src="images/left-side.avif" />
    <div class="keyFeatures">
      <div class="row feature-row">
        <div class="col-4 feature-col">
            <img class="feature-img" src="images/virus.png">
          <h3>Disease Detection</h3>
          <p>
            Upload a photo of your plant’s affected area to get instant
            diagnosis and treatment options, helping you take action quickly.
          </p>
        </div>
        <div class="col-4 feature-col">
            <img class="feature-img" src="images/community.png">
          <h3>Community Support</h3>
          <p>
            Join a supportive community to ask questions and share plant care
            tips, giving you access to advice from experts and fellow
            enthusiasts.
          </p>
        </div>
        <div class="col-4 feature-col">
            <img class="feature-img" src="images/pound.png">
            <h3>Fertilizer Calculator</h3>
          <p>
            Enter plant details to get personalized fertilizer recommendations,
            ensuring your plants get the right nutrients for optimal growth.
          </p>
         
        </div>
      </div>
      <div class="row feature-row">
        <div class="col-5 feature-col">
            <img class="feature-img" src="images/chatbot.png">
          <h3>Chatbot Support</h3>
          <p>
            ***Choose your preferred language for a comfortable browsing
            experience, making the website easy to navigate for users from
            diverse backgrounds.
          </p>
        </div>
        <div class="col-5 feature-col">
            <img class="feature-img" src="images/radioactive.png">
           <h3>Weather-Based Alerts</h3>
          <p>
            Receive alerts based on local weather that may impact plant health,
            allowing you to prevent disease before it strikes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
